body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .info p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  strong {
    color: #000000;
  }
  
  footer {
    text-align: center;
    margin-top: 30px;
    color: #000000;
    font-size: 0.9em;
  }
  